@import "../../index.css";
  
.navbar {
  overflow: hidden;
  background-color: var(--black);
}

.navbar a {
  float: left;
  display: block;
  color: var(--light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: var(--brown) !important;
  color: var(--accent) !important;
}

.navbar .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .cartIcon{
    color:inherit;
    font-size:  inherit; 
    transform: scale(1.8);

}
.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: var(--light);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:var(--light);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--dark);
  color: var(--light);
}

.dropdown-content a:hover {
  background-color: var(--dark);
  color: var(--accent);
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media screen and (max-width: 960px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .navbar span.icon {
    color:var(--light);
    margin-top:0.5rem;
    float: right;
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}